.list-container {
    background-color: var(--white);
    border-radius: var(--border-radius-sharp);
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: var(--shadow-sm);
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.table-content {
    width: 100%;
    overflow-x: auto;
}