<div class="container">
    <div class="list-header">
        <bp-search-bar (search)="onSearch($event)"></bp-search-bar>
        <button type="button" class="btn btn-primary" (click)="goToAddProduct()">
            Agregar
        </button>
    </div>

    <div class="list-container">
        @if (loading() === 'loading') {
        <div class="loading-state">
            <p>Cargando...</p>
        </div>
        } @else {
        <div class="table-scroll-wrapper">
            <bp-products-table [products]="products()"></bp-products-table>
        </div>
        <bp-pagination-control [total]="total()" (limitChange)="onLimitChange($event)"></bp-pagination-control>
        }
    </div>
</div>