.table-responsive {
    background: var(--white);
}

.main-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white);

    th,
    td {
        padding: 1.2rem 1.5rem;
    }

    thead th {
        background-color: var(--table-header-bg);
        color: var(--text-header);
        font-weight: bold;
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid var(--border-color);
    }

    tbody td {
        padding: 1.2rem;
        color: var(--text-body);
        border-bottom: 1px solid var(--border-color);
        vertical-align: middle;
        text-align: center;
    }

    .empty-row td {
        text-align: center;
        color: var(--text-body);
    }
}

.text-center {
    text-align: center;
    color: var(--secondary);
}