.search-input {
    padding: 0.7rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    width: var(--search-width);
    outline: none;

    &::placeholder {
        color: var(--secondary);
    }
}