// Aquí van los componentes "estilo" que no son componentes de lógica Angular
@use 'variables';

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    font-size: 0.95rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        background-color: var(--secondary);
    }

    &-primary {
        background-color: var(--primary);
        color: var(--dark-blue-black);
    }

    &-secondary {
        background-color: #e9ecf3;
        color: var(--dark-blue-black);
    }
}

.main-header {
    background-color: var(--white);
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);

    h1 {
        color: var(--dark-blue-black);
        font-size: 1.8rem;
        letter-spacing: 1px;
        margin: 0;
    }
}